body{
	height: auto;
}

.el-nav-phone{
	color: black;
    background-color: transparent;
    box-shadow: none;
    height: 30px;  
    line-height: 20px;      
}

.hora p{
	margin: 0;
}

nav .nav-wrapper i{
    line-height: 20px;	
}


.el-nav-logos{
    background-color: transparent;
    box-shadow: none;
    height: 30px;  
    line-height: 20px;     
}
nav .brand-logo{
    position: relative;	
}

.logo{
	width: 60px;
}



.el-mapa{
	width: 100%;
	height: 700px;
    position: relative;
    top: -150px;
    overflow: hidden;
    z-index: -1;

}

.logo-gogle{
	width: 70px;
}

.botones-encontrar{
    position: relative;
    top: -350px;	
}

.botones-encontrar .col.s12 > .btn {
   width: 100%;
}

input[type=text]:not(.browser-default){
	background-color: white;
	border-radius: 0.5em;
}