html,body{
    
    background-color: ghostwhite;

}
/*LAST MENU*/
nav img{
    width: 24%;
    height: 7vh;
}
nav{
    background-color: #352384;
}

img.profile-img { 
    position: relative;
    top: 50px;
    width: 37%;
    border: 2px solid gray;
    margin-left: 33%;
    }

.side-nav .user-view .name, .side-nav .userView .name {
    margin-top: 61px;
    font-weight: 500;
}
.side-nav .user-view .circle, .side-nav .userView .circle {
        height: 18vh;
    width: 99px;
}
.blue-background{
    background-color:#67758e;
    top: 10px;
}
.waves-effect:hover{
    color: #ff1cc0;

}
